commands:
  install_nodejs:
    command: |
      curl --silent --location https://rpm.nodesource.com/setup_14.x | bash -
      yum install -y nodejs
  install_yarn:
    command: |
      curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | tee /etc/yum.repos.d/yarn.repo
      yum install -y yarn

container_commands:
  seed_database:
    command: |
      sudo su webapp -s /bin/bash -c "cd /var/app/staging && bundle exec rails db:seed RAILS_ENV=production"
    leader_only: true